<div class="row">
    <div class="col justify-content-center text-center">
        <div class="divider  divider-primary divider-small   " style="display: inline-block;margin-right: 10px;">
            <hr  style="margin-bottom: 9px;">
        </div>
        <h4 class=" pl-5 mb-4font-weight-bold text-6 d-inline text-primary">CONTACT US</h4>
        <div class="divider  divider-primary divider-small   " style="display: inline-block;margin-left: 10px;">
            <hr  style="margin-bottom: 9px;">
        </div>
    </div>
</div>