<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md m-0  border-color-grey-1 border-bottom " style=" border-width : 5px !important">
    <div class="container">
        <div class="row">


            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="text-dark">Home &nbsp <span class="font-weight-extra-bold text-green text-2">>></span> &nbsp<strong>Who We Are</strong></h1>

            </div>


            <div class="col-md-4 order-1 order-md-2 align-self-center" style="position: relative">

                <span class=" text-default font-weight-extra-bold" style="font-size: 64px;
                font-size: 5rem;
                position: absolute;
                bottom: -3.3rem;
                opacity: 0.08;
                right: 0px;">ABOUT US</i></span>
            </div>
        </div>
    </div>
</section>