<section class="section bg-white m-0 p-0">
    <div class="container  pt-5  ">
        <!-- without arrow -->
        <div class="row ">
            <div class="col">
                <div class="owl-carousel owl-theme" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 3}, '1199': {'items': 3}}, 'loop': false, 'autoHeight': true, 'margin': 10}">
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_PURE_DUAL" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>	
                    </div>
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_AODD_DUAL.png" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>								</div>
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_HC_DUAL.png" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>								</div>
                    <div>
                        <img alt="" class="img-fluid rounded" src="img/projects/project-1.jpg">
                    </div>
                    <div>
                        <img alt="" class="img-fluid rounded" src="img/projects/project-2.jpg">
                    </div>
                    <div>
                        <img alt="" class="img-fluid rounded" src="img/projects/project-3.jpg">
                    </div>
                    <div>
                        <img alt="" class="img-fluid rounded" src="img/projects/project-1.jpg">
                    </div>
                    <div>
                        <img alt="" class="img-fluid rounded" src="img/projects/project-2.jpg">
                    </div>
                    <div>
                        <img alt="" class="img-fluid rounded" src="img/projects/project-3.jpg">
                    </div>
                    <div>
                        <img alt="" class="img-fluid rounded" src="img/projects/project-4.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- with arrow -->
        <div class="row ">
            <div class="col">
                <div class="owl-carousel owl-theme stage-margin nav-style-1" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 3}, '1199': {'items': 3}}, 'loop': false, 'autoHeight': true, 'margin': 10 , 'nav': true, 'dots': false,'stagePadding': 40}">
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_PURE_DUAL.png" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>	
                    </div>
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_AODD_DUAL.png" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_HC_DUAL.png" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_PURE_DUAL.png" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>	
                    </div>
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_AODD_DUAL.png" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article class="px-4">
                            <div class="row border  border-3 border-bottom-0">
                                <div class="col">
                                    <a href="#" class="text-decoration-none ">
                                        <img src="img/pyg/VA_HC_DUAL.png" class="img-fluid hover-effect-2 mb-3 mt-3" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="row border  border-3 ">
                                <div class="col text-center " >
                                    <h4 class="  mb-4 mt-3"><a href="#" class="text-3 font-weight-bold pt-2 d-block text-dark text-decoration-none">Verderair HI-CLEAN (AODD)</a></h4>
                                
                                </div>
                            </div>
                        </article>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</section>